django-oscar==4.1
django-extensions>=4.1,<4.2

# Sandbox
Whoosh>=2.7.4,<2.8
django-environ>=0.13.0,<0.14
django-redis>=6.0.0,<6.1
pysolr>=3.11.0,<3.12
redis>=7.4.0,<7.5
requests>=2.33.1,<3
uWSGI>=2.0.31
whitenoise>=6.12.0,<6.13

# Helpers
pyprof2calltree>=1.4.5,<1.5
ipdb>=0.13.13,<0.14
ipython>=9.13.0,<10

# Country data
pycountry

sorl-thumbnail>=13.0.0,<14.0.0
easy-thumbnails>=2.10.1,<3.0
